*.o
*.obj

*.so
*.dll
*.dylib
*.lib
*.a
*.la

*.exe
*.out
*.app
*.elf

*.lo
*.ko
*.mod
*.cmd
*.mod.c

build/
**/build/
bin/
**/bin/
dist/
**/dist/

*.d
*.tmp
*.temp
*.log

*.bcx
*.map
*.bpl

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

.DS_Store
Thumbs.db
